DB_NAME=
DB_ROOT_PASSWORD=
DB_PORT=

DB_URL=
DB_USERNAME=
DB_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_HOST=
REDIS_PORT=

APP_FRONTEND_URL=

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_RETURN_URL=
VNPAY_IPN_URL=

VITE_API_URL=